:host {
  display: block;
  position: relative;
  overflow: hidden;
  margin-top: -13px;
  .container {
    width: 100%;
    position: relative;
    margin-top: 0px;
    left: 0px;
    display: inline-block;
    white-space: nowrap;
    font-size: 0px;
  }
}

::content > * {
  font-size: 1rem;
  white-space: normal;
}