:host {
  display: none;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  justify-content: center;
  .container {
    margin: auto;
    background-color: #fff;
    z-index: 51;
    max-width: 95vw;
    .scroll-container {
      max-height: 60vh;
      overflow-y: auto;
      margin-top: 1.5rem;
      margin-bottom: 0.5rem;
      .scroll-content {
        padding: 0 1.5rem;
      }
    }
    .actions {
      height: 3rem;
      padding: 0rem 1rem;
      margin-bottom: 0.5rem;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      content::content paper-button {
        margin: auto;
        color: #3f51b5;
      }
    }
  }
}