:host {
  display: block;
  core-toolbar {
    background-color: transparent;
    color: #fff;
    z-index: 10;
    position: fixed;
    top: 0;
  }
  paper-tabs {
    background-color: #3f51b5;
    color: #fff;
    text-transform: uppercase;
  }
}